
<h1>blogs</h1>
<div class="container flex-wrap d-flex gap-2">
<% blogs.forEach( (data)=>{ %>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="<%= data.img %>" class="img-fluid rounded-start" alt=" <%= data.title %>">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= data.title %></h5>
                    <p class="card-text"><%=data.description %></p>
                </div>
            </div>
        </div>
    </div>
<%})%>
</div>